:host {
  header {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 100px;
    background: rgba(118, 200, 255, 0.8);
    box-shadow: 0 0 20px 0 rgba(19, 58, 84, 0.25);
    > a {
      text-decoration: none;
    }
  }


  .logo-wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-right: 15px;
  }

  .logo-title {
    display: inline-block;
    font-size: 42px;
    margin: 0;
    text-decoration: none;
    color: #184869;
  }

  .fa-shopping-bag {
    color: rgba(0, 60, 98, 0.9);
    margin-left: auto;
    font-size: 32px;
  }
}
