:host {
  display: block;
  padding-bottom: 25px;
  position: absolute;
  width: 100%;
  .image-wrapper {
    width: 100%;
    height: 370px;
    overflow: hidden;
  }

  .shop-item {
    display: inline-block;
    padding: 25px;
    width: 25%;
    font-size: 20px;
    .item-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 25px;
    }
    .item-inner {
      padding-top: 15px;
      box-shadow:  0 0 20px 0 transparentize(#154d71, 0.9);
      background: rgba(166, 220, 255, 0.92);
      border-radius: 8px;
      img {
        width: calc(100% - 50px);
        margin: 0 25px;
        border-bottom: 2px solid rgba(0, 60, 98, 0.9);
      }
    }
    .item-name {
      font-weight: bold;
      color: rgba(0, 60, 98, 0.9);
    }
    .item-price {
      font-size: 24px;
      color: #fa7f16;
      margin: 0 0 0 auto;
    }
    .item-action {
      font-size: 16px;
    }
    .fa-user-plus {
      color: rgba(0, 60, 98, 0.9);
      font-size: 32px;
      margin-left: 20px;
    }
  }
}
