$red-button-background: transparentize(#ffafaf, 0.2);
$red-button-text: #701212;

$blue-button-background: transparentize(#28c8dc, 0.2);
$blue-button-text: #114b70;

* {
  box-sizing: border-box;
}

body {
  background: url(assets/img/sky.png) repeat;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "NautilusPompilius";
  src: url(assets/fonts/NautilusPompiliusRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}


.button {
  border: none;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 4px;
  font: bold 16px 'Ubuntu', sans-serif;
  box-shadow: 0 0 20px 0 transparentize(#154d71, 0.8);
  cursor: pointer;
  will-change: transform;
  font-size: 24px;
  &.red {
    background-color: #2d92d5;
    color: #fff;
    border: 2px solid $blue-button-text;
    &:hover, &:active, &:focus {
      background-color: lighten(#2d92d5, 6);
    }
  }
  &.blue {
    background-color: #fff;
    color: $blue-button-text;
    border: 2px solid $blue-button-text;
    &:hover, &:active, &:focus {
      background-color: darken(#fff, 4);
    }
  }
}

.button, .click-able {
  cursor: pointer;
  &:hover, &:active, &:focus {
    transform: scale(1.05);
    transition: all 0.15s ease-in-out;
  }
}

.text-center {
  text-align: center;
}
