<app-candies></app-candies>
<div class="auth-panel" [@flyInLeft]="authOpen">
  <i class="fa fa-chevron-left click-able icon-button" (click)="closeAuth()"></i>
  <form [@flyInLeft]="loginOpen">
    <h4 class="auth-title">Логин</h4>
    <div class="form-control">
      <input placeholder="Login" type="text" value="Fedor">
    </div>
    <div class="form-control">
      <input placeholder="Password" type="password" value="12345678">
    </div>
    <i class="fa fa-sign-in click-able icon-button"></i>
  </form>
  <form  [@flyInLeft]="registrationOpen">
    <h4 class="auth-title">Регистрация</h4>
    <div class="form-control">
      <input placeholder="Login" type="text" value="Fedor">
    </div>
    <div class="form-control">
      <input placeholder="Password" type="password" value="12345678">
    </div>
    <div class="form-control">
      <input placeholder="Confirm password" type="password" value="12345678">
    </div>
    <i class="fa fa-user-plus click-able icon-button"></i>
  </form>
</div>
<div class="wrapper">
  <h1 class="main-title" >
    <span [@flyIn]="titleState" *ngIf="titleState" (@flyIn.done)="showElement('subTitleState')">Сладкоежка</span>
  </h1>
  <h4 class="sub-title" *ngIf="subTitleState">
  <span [@flyInLeft]="subTitleState" (@flyInLeft.done)="showElement('authButtonsState')">
    Это крупнейшая соц сеть для любителей сладкого
  </span>
  </h4>

  <div class="text-center" [@flyFromTop]="authButtonsState">
    <button class="button blue" type="button" (click)="openLogin()">
      Логин
    </button>
    <button  class="button red" type="button" (click)="openRegistration()">
      Регистрация
    </button>
  </div>
</div>

