<div class="auth-panel" [@flyInLeft]="global.authOpen">
  <i class="fa fa-chevron-left click-able icon-button" (click)="closeAuth()"></i>
  <form [@flyInLeft]="global.loginOpen">
    <h4 class="auth-title">Логин</h4>
    <div class="form-control">
      <input placeholder="Login" type="text" value="Fedor">
    </div>
    <div class="form-control">
      <input placeholder="Password" type="password" value="12345678">
    </div>
    <a routerLink="/shop" class="fa fa-sign-in click-able icon-button"></a>
  </form>
  <form  [@flyInLeft]="global.registrationOpen">
    <h4 class="auth-title">Регистрация</h4>
    <div class="form-control">
      <input placeholder="Login" type="text" value="Fedor">
    </div>
    <div class="form-control">
      <input placeholder="Password" type="password" value="12345678">
    </div>
    <div class="form-control">
      <input placeholder="Confirm password" type="password" value="12345678">
    </div>
    <a routerLink="/shop" class="fa fa-user-plus click-able icon-button"></a>
  </form>
</div>
<div class="wrapper" [@widthChange]="global.authOpen">
  <h1 class="main-title">
    <span [@flyIn]="global.titleState" *ngIf="global.titleState" (@flyIn.done)="showElement('subTitleState')">ВКотакте</span>
  </h1>
  <h4 class="sub-title" *ngIf="global.subTitleState">
  <span [@flyInLeft]="global.subTitleState" (@flyInLeft.done)="showElement('authButtonsState')">
    Это крупнейшая соц сеть для котиков
  </span>
  </h4>

  <div class="text-center" [@flyFromTop]="global.authButtonsState">
    <button class="button blue" type="button" (click)="openLogin()">
      Логин
    </button>
    <button  class="button red" type="button" (click)="openRegistration()">
      Регистрация
    </button>
  </div>
</div>

